@import 'ember-basic-dropdown';

body {
  height: 100vh;
  margin: 0;
  width: 100vh;
}

main {
  display: flex;
  padding: 8px;

  .type {
    display: flex;
    flex-direction: column;
    margin: 8px;
  }
}

.harvest-trigger {
  margin: 4px 4px 0 0;
}

.harvest-selected-day,
.harvest-selected-month {
  font-weight: bold;
}

.harvest-selected-week {
  background: lightgray;
}

.harvest-weekpicker {
  .harvest-selected-week {
    background: yellow;
  }
}
