<div class="type">Datepicker: {{harvest-datepicker prefix='harvest'}}</div>
<div class="type">Weekpicker: {{harvest-weekpicker prefix='harvest'}}</div>
<div class="type">Monthpicker: {{harvest-monthpicker prefix='harvest'}}</div>